<!--Daichi Kanasugi

This is the html page for the main page. It will read 3 pictures with the python program running.
-->

{% block title %}
Main
{% endblock %}

{% block content %}

<div class="container">
    <h1>Pictures</h1>

          <a href="{{url_for('picture', id=name1)}}"><p>{{title1}}</p></a>
          <img src="{{url_for('static', filename=name1+".jpg")}}" width="200" class="img-responsive img-rounded">

          <a href="{{url_for('picture', id=name2)}}"><p>{{title2}}</p></a>
          <img src="{{url_for('static', filename=name2+".jpg")}}" width="200" class="img-responsive img-rounded">

          <a href="{{url_for('picture', id=name1)}}"><p>{{title3}}</p></a>
          <img src="{{url_for('static', filename=name3+".jpg")}}" width="200" class="img-responsive img-rounded">

</div>

{% endblock %}
